:host{
    h2{
        text-align: center;
    }
    .contentBtn{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-bottom: 10px;
        button{
            background-color: transparent;
            color: black;
            border: none;
            font-weight: bold;
            font-size: 20px;
            transition: all 300ms;
            cursor: pointer;

            span:nth-child(1){
                animation: btn 2800ms infinite;
            }
            span:nth-child(2){
                animation: btn 2400ms infinite;
            }
            span:nth-child(3){
                animation: btn 2000ms infinite;
            }
        }
        button:hover{
            background-color: black;
            color: white;
            border-radius: 5px;
        }

        @keyframes btn{
            0%{
                color: black;
            }50%{
                color: white;
            }100%{
                color: black;
            }
        }
        }
    .content_skill{
        display: block;

        .rotar{
            display: -webkit-box;
            width: 90%;
            height: 260px;
            margin: 0px auto;
            padding: 10px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            box-shadow: 0px 0px 10px 3px #042b52;
            scroll-behavior: smooth;
            overflow-x: scroll;
            overflow: hidden;

            .skill{
                display: block;
                width: 200px !important;
                height: 260px;
                border: 3px solid black;
                text-align: center;
                line-height: 50px;
                cursor: pointer;
                transition: 300ms;
                img{
                    width: 100%;
                    height: 260px;
                    transition: all 300ms;
                }
                p{
                    width: 100%;
                    height: 260px;
                    opacity: 1;
                    margin-top: 0px;
                    transition: all 300ms;
                }
            }
            .skill:hover{
                img{
                    opacity: 0;
                    display: none;
                }p{
                    opacity: 1;
                    background-color: rgb(221, 85, 51);
                    color: white;
                }
            }


        }

    }

    @keyframes rotar{
        0%{
            left: 100%;
        }50%{
            left: 0%;
        }100%{
            left: -100%;
        }
    }
}